@tailwind base;
@tailwind components;
@tailwind utilities;


.like-container {
  position: relative; /* Ensure positioning context for the line */
}

.like-button {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transition: width 0.5s, height 0.5s; /* ease into the width height increase/decrease */
  @apply w-32;
  @apply h-32;
}


.like-button.clicked {
  transform: rotate(45deg);
  @apply w-40;
  @apply h-40;
}

.line-animation {
  position: absolute;
  border-radius: 8px; /* radius of line */
  width: 100%; /* Full width */
  height: 20px; /* make line larger */
}

.line-animation:nth-child(1) {
  top: 50%;
  left: 95%;
  transform: translateY(-50%) rotate(-45deg) scale(0,0);
  animation: line-diag-red 0.5s ease-in-out;
}

.line-animation:nth-child(2) {
  top: 50%;
  right: 95%;
  transform: translateY(-100%) rotate(-135deg) scale(0,0);
  animation: line-diag-blue 0.5s ease-in-out;
  animation-delay: 0.5s;
}

.line-animation:nth-child(3) {
  bottom: -25%;
  left: 95%;
  transform: translateY(-100%) rotate(45deg) scale(0,0);
  animation: line-diag-yellow 0.5s ease-in-out;
  animation-delay: 0.5s;
}

.line-animation:nth-child(4) {
  bottom: -25%;
  right: 95%;
  transform: translateY(-100%) rotate(-45deg) scale(0,0);
  animation: line-diag-green 0.5s ease-in-out;
}


@keyframes line-diag-red {
  0% {
    transform: translate(0, 0) rotate(-45deg);
  }

  50% {
    transform: translate(150px, -150px) rotate(-45deg);
  }
  75% {
    transform: translate(150px, -150px) rotate(-45deg) scale(0,0);
  }
  100% {
    transform: scale(0,0);
  }
}

@keyframes line-diag-blue {
  0% {
    transform: translate(0, 0) rotate(-135deg) scale(1,1);
  }

  50% {
    transform: translate(-150px, -150px) rotate(-135deg);
  }
  75% {
    transform: translate(-150px, -150px) rotate(-135deg) scale(0,0);
  }
  100% {
    transform: scale(0,0);
  }
}

@keyframes line-diag-yellow {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }

  50% {
    transform: translate(150px, 150px) rotate(45deg);
  }
  75% {
    transform: translate(150px, 150px) rotate(45deg) scale(0,0);
  }
  100% {
    transform: scale(0,0);
  }
}

@keyframes line-diag-green {
 
  0% {
    transform: translate(0, 0) rotate(-45deg);
  }

  50% {
    transform: translate(-150px, 150px) rotate(-45deg) ;
  }
  75% {
    transform: translate(-150px, 150px) rotate(-45deg) scale(0,0);

  }
  100% {
    transform: scale(0,0);
  }
}




.line-red-dots {}

.line-yellow-dots {}

.line-green-dots {}

.line-blue-dots {}

@keyframes line-red-dots {}

@keyframes line-yellow-dots {}

@keyframes line-green-dots {}

@keyframes line-blue-dots {}








/* ---------------- *\
scale(0, 0) to remove out of vision
declare scale(0,0) before keyframe to initialize as invisible
0% keyframe scale (1,1) to reappear

example keyframe of sudden fade

  0% {
    transform: translate(0, 0) rotate(-45deg);
  }

  50% {
    transform: translate(-150px, 150px) rotate(-45deg) ;
  }
  65% {
    transform: scale(0,0);

  }
  
}

example keyframe of subtle fade transition

@keyframes line-diag-green {
  from {     transform: translate(0, 0) rotate(-45deg);
  }
  to {
    transform: translate(-150px, 150px) rotate(-45deg) scale(0,0);
  }
}
\* ------------ */