@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-blue-600 !important;
}

.like-button {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}
  

  .like-button.clicked {
    transform: rotate(45deg);
  }